@import "../global.less";

.sy-header {
  background: white;
  border-bottom: @THEME_COLOR solid 1px;
  padding-inline: 30px;
  display: flex;
  align-items: center;
}

.sy-sider {
  background: white !important;
}

.sy-logo {
  background: @THEME_COLOR;
  color: white;
  text-align: center;
  height: 40px;
  line-height: 40px;
  border-radius: 5px;
  float: left;
  width: 145px;
  font-size: 20px;
}
