# idea配置，不提交
.idea

# gradle缓存，不提交
.gradle
!gradle-wrapper.jar

# 后端打包文件，不提交
**/build
**/bin

# 前端打包文件，不提交
spark-yun-website/dist
spark-yun-frontend/dist

# 前端嵌入后端内容，不提交
spark-yun-backend/spark-yun-main/src/main/resources/templates/**
spark-yun-backend/spark-yun-main/src/main/resources/static/**

# 代理压缩包
spark-yun-backend/spark-yun-main/src/main/resources/agent/**

# 企业版代码，不提交
spark-yun-vip/**

# 资源文件
resources/license

# 不提交spark-min
spark-yun-dist/spark-min
!spark-yun-dist/zhiqingyun/bin
!spark-yun-dist/zhiqingyun-agent/bin

# isx工具不提交
isx

# 个人配置不提交
spark-yun-backend/spark-yun-main/src/main/resources/application-ispong.yml
