.sy-login-page {
  width: 100%;
  height: 100vh;
}

.sy-login-div {
  width: 450px;
  height: 400px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  margin: auto;

  .sy-login-title {
    color: white;
    width: 10rem;
    font-size: 2rem;
    border-radius: 10px;
    line-height: 3rem;
    text-align: center;
    margin: auto;
  }

  .sy-login-desc {
    margin: 15px auto auto;
    text-align: center;
    color: darkgray;
    font-size: 13px;
  }

  .sy-login-account-input {
    width: 270px;
    margin-top: 30px;
  }

  .sy-login-password-input {
    justify-content: center;
    width: 270px;
    margin-top: 5px;
  }

  .sy-login-btn {
    width: 90px;
  }

}
