.zqy-home {
  display: flex;
  width: 100vw;
  height: 100vh;

  &.is-collapse {
    
    .zqy-home__sidebar {
      width: 96px;
    }

    .zqy-home__main {
      width: calc(100vw - 96px);
    }

    .zqy-home__menu-footer {
      width: 96px;
      height: 100px;
      flex-direction: column;
      justify-content: space-evenly;
    }

    .zqy-home__menu-wrap {
      padding-bottom: 100px;
    } 
  }

  .zqy-home__sidebar {
    display: flex;
    flex-direction: column;
    width: 220px;
    background-color: getCssVar('color', 'white');
    transition: width getCssVar('transition-duration') ease-in-out;
  }

  .zqy-home__main {
    width: calc(100vw - 220px);
  }

  .zqy-home__nav {
    width: 100%;
    height: 80px;
    box-sizing: border-box;
    padding: 10px 20px;
  }

  .zqy-home__logo {
    height: 64px;
    width: 64px;
  }

  .zqy-home__title {
    font-size: 28px;
    font-weight: bold;
    line-height: 56px;
    vertical-align: bottom;
    color: getCssVar('color', 'primary');
  }

  .zqy-home__icon {
    color: getCssVar('color', 'info');
  }

  .zqy-home__ops {
    cursor: pointer;
    &:hover {
      color: getCssVar('color', 'primary');
    }
  }

  .zyq-home__avatar {
    cursor: pointer;
    background-color: getCssVar('color', 'primary');;
    color: getCssVar('color', 'white');
    font-size: getCssVar('font-size', 'extra-small');
  }

  .zqy-home__menu-wrap {
    padding: 10px 16px 60px 16px;
    box-sizing: border-box;
    flex: 1;
    overflow-x: hidden;
    overflow-y: auto;
    .zqy-home__menu.el-menu {
      border-right: 0;
      .el-menu-item {
        border-radius: getCssVar('border-radius', 'base');

        &.is-active {
          background-color: getCssVar('menu', 'hover-bg-color');

          .zqy-home__text {
            font-weight: bold;
          }
        }
      }
    }
  }

  .zqy-home__menu-footer {
    position: fixed;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    box-sizing: border-box;
    padding: 0 16px;
    width: 220px;
    background-color: getCssVar('color', 'white');
  }
}