:root {
    --navbar-padding-left-and-right-pc: 3rem;
    --navbar-padding-left-and-right-mobile: 0.5rem;
}

/***** nav浮起来 *****/
.custom-navbar {
  background: white !important;
  z-index: 999;
  width: 100%;
  position: absolute;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  padding-left: var(--navbar-padding-left-and-right-pc);
  padding-right: var(--navbar-padding-left-and-right-pc);
}
@media screen and (max-width: 985px) {
    .custom-navbar {
        padding-left: var(--navbar-padding-left-and-right-mobile);
        padding-right: var(--navbar-padding-left-and-right-mobile);
    }
}

/***** nav中logo *****/
.custom-navbar-brand {
    font-weight: bold;
    font-size: 1.6rem;
    cursor: pointer;
}

/***** navbar中的nav样式 *****/
.custom-navbar-nav {
    margin-left: auto;
}

/***** nav中的连接样式 *****/
.custom-navbar-nav a {
    font-size: 1rem;
    width: 7rem;
    cursor: pointer;
    margin: auto;
}

/***** 首页滚动 *****/
.custom-carousel {
    height: 100%;
}

/***** 首页滚动 slide1 *****/
.slide1-title {
    font-size: 6rem;
    font-weight: normal;
}

.slide1-describe {
  margin-top: 50px;
    font-size: 2.5rem;
    font-weight: normal;
}

.slide1-bash {
    color: white;
    display: block;
  margin: 30px auto auto;
  height: 2.2rem;
    line-height: 2.2rem;
    font-size: 0.9rem;
    width: 800px;
    font-weight: normal;
    border: none;
    white-space: nowrap;
    background: #161b22;
    border-radius: 0.5rem;
}

.slide1-btn {
  margin-top: 40px;
    font-size: 1.3rem;
    background: white;
    color: black;
    border-radius: 0.1rem;
    border: black solid 2px;
    width: 150px;
    height: 40px;
    cursor: pointer;
}

.slide1-btn:hover {
    background: black;
    color: white;
}

@media screen and (max-width: 985px) {
    .slide1-bash {
        width: 90%;
        display: flex;
        overflow-x: scroll;
        overflow-y: hidden;
    }
}

/***** 产品优势 桌面*****/
.advantage-nav-mobile {
    display: none;
}
.advantage-nav-pc {
    height: 80%;
    width: 80%;
    margin: auto;
}

.custom-advantage-nav {

}

.custom-advantage-nav button {
    color: black;
    width: 16.66%;
}

.custom-advantage-nav button:hover {
    color: black;
}

.custom-advantage-card-body {
  width: 100%;
  height: 100%;
  border: none;
}

.custom-advantage-img {
    margin-top: 30%;
    margin-bottom: 30%;
    width: 50%;
}

.custom-advantage-font {
    display: flex;
    margin-left: auto;
}

.custom-advantage-li {
    border: none;
    text-align: left;
}

.custom-advantage-list-body {
  display: flex;
  justify-content: center;
  align-items: center;
}

/***** 移动版 产品优势 *****/
@media screen and (max-width: 985px) {
    .advantage-nav-mobile {
        display: block;
    }
    .advantage-nav-pc {
        display: none;
    }

    .custom-accordion .accordion-button {
        background: white;
        color: black;
        box-shadow: none;
    }

    #custom-advantage .content-top {
        display: none;
    }
}

/***** 技术架构 *****/
.technology-img {
    height: 90%;
    width: auto;
    max-width: 800px;
    max-height: 800px;
}
@media screen and (max-width: 985px) {
    .technology-img {
        height: auto;
        width: 100%;
    }
}

/***** 版本差异 *****/
.table-responsive {
    width: 40%;
    max-width: 800px;
    margin: auto;
}
@media screen and (max-width: 985px) {
    .table-responsive {
        width: 90%;
    }
}

/***** 应用场景 *****/
.application-scroll {
    margin: auto;
    width: 80%;
    display: flex;
    overflow-x: scroll;
    overflow-y: hidden;
}

.custom-card-container {
    flex-shrink: 0;
    height: 60%;
    margin-right: 20px;
    width: 300px;
}

.custom-card-text {

}
@media screen and (max-width: 985px) {
    .custom-card-container {
        width: 90%;
    }
}

.custom-card-img-top {
    width: 30%;
  margin: 25px auto auto;
}

/***** 关于我们 *****/
.link-wechat {
    width: 14rem;
}

.link-wechat-describe {
  color: grey;
  font-size: 0.8rem;
  margin-top: 30px;
}
