.zqy-login {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  background: linear-gradient(to right top,  getCssVar('color', 'primary'), getCssVar('color', 'white') 60%);

  .zqy-login__header {
    padding: 28px 56px;
    user-select: none;
  }

  .zqy-login__logo {
    height: 64px;
    width: 64px;
  }

  .zqy-login__title {
    font-size: 28px;
    font-weight: bold;
    line-height: 56px;
    vertical-align: bottom;
    color: getCssVar('color', 'primary');
  }

  .zqy-login__body {
    flex: 1;
    display: flex;
    padding: 0 20px;
    align-items: center;
  }

  .zqy-login__playground {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex: 1;
    height: 100%;
  }

  .zqy-login__slogan {
    font-size: 52px;
    font-weight: bold;
    color: getCssVar('color', 'primary');
    margin-right: 20%;
  }

  .zqy-login__main {
    display: flex;
    align-items: center;
    width: 400px;
    height: 100%;
  }

  .zqy-login__form-wrap {
    width: 100%;
    padding: 20px 20% 20px 0;
  }

  .zqy-login__form {
    .el-form-item {
      margin-bottom: 36px;

      &.is-error {
        .el-input__wrapper {
          box-shadow: none;
        }

        .zqy-login__input {
          border-color: getCssVar('color', 'danger');
        }
      }

      .zqy-login__input {
        .el-input__inner {
          font-size: 14px;
        }
      }

      .el-form-item__error {
        padding: 6px 0;
      }
    }
  }

  .zqy-login__input {
    border-bottom: 1px solid getCssVar('border-color');
    transition: all .4s linear;
    
    &:hover {
      border-color: getCssVar('color', 'primary');
    }
    
    .el-input__wrapper {
      box-shadow: none;
    }
  }

  .zqy-login__btn {
    margin-top: 48px;
    width: 100%;
    height: 32px;
    border-radius: 16px;
  }
}