$--app-primary-color: #409eff;
// $--app-primary-color: #eb7040;
$--app-unclick-color: #579bc9;

$--app-info-color: #b2b2b2;
$--app-light-color: #ffffff;
$--app-selected-color: #f5f7fa;
$--app-click-color: #d3edff;
$--app-header-bgColor: #f7f7f7;
$--app-border-color: #dcdfe6;
// $--app-menu-bgColor: ;

$--app-item-height: 44px;

$--app-box-shadow: 0 0 8px 0 #bfbfbf;
// 标准字体颜色
$--app-base-font-color: #303133;
// 标准加粗
$--app-base-font-weight: bold;
// 边框圆角
$--app-border-radius: 2px;
// 小号字体样式
$--app-small-font-size: 12px;
// 正常字体样式
$--app-normal-font-size: 14px;
// 大号字体样式
$--app-large-font-size: 16px;

$--app-title-large-font-size: 20px;

$--app-logo-large-font-size: 32px;
// 输入框高度
$--app-input-box-height: 32px;

$vxe-font-size: 14px;
$vxe-font-color: #666;
$vxe-primary-color: #005bac;
$vxe-table-font-color: $vxe-font-color;
$vxe-table-border-color: #e8eaec;
$vxe-table-border-radius: 4px;
