$--element-border-radius: $--app-border-radius;
$--element-small-font-size: $--app-small-font-size;
$--element-normal-font-size: $--app-normal-font-size;
$--element-large-font-size: $--app-large-font-size;

$--element-input-box-height: $--app-input-box-height;

$--element-info-color: #b2b2b2;
$--element-light-color: #ffffff;

$--font-path: "~element-ui/lib/theme-chalk/fonts";
