name: reset dev db

on:
  workflow_dispatch:
    inputs:
      github_access_token:
        description: 'github access token'
        required: true
        type: string
      repository_account:
        description: 'repository'
        required: true
        type: string
        default: 'isxcode'
      branch_number:
        description: 'branch'
        required: true
        type: string
        default: 'GH-xxx'
      dev_server_ip:
        description: 'dev server ip'
        type: string
      dev_server_username:
        description: 'dev server username'
        type: string
      dev_server_password:
        description: 'dev server password'
        type: string

env:
  ADMIN_GITHUB_TOKEN: ${{ inputs.github_access_token }}

jobs:

  reset-server:
    runs-on: ubuntu-latest

    permissions:
      contents: read
      packages: write
      id-token: write

    steps:

      - name: Set timezone to Asia/Shanghai
        run: |
          sudo timedatectl set-timezone Asia/Shanghai
          date

      - name: Get dev server info
        run: |
          if [ -z "${{ inputs.dev_server_ip }}" ]; then
            echo "DEV_SERVER_IP=${{ secrets.DEV_HOST }}" >> $GITHUB_ENV
          else
            echo "DEV_SERVER_IP=${{ inputs.dev_server_ip }}" >> $GITHUB_ENV
          fi
          if [ -z "${{ inputs.dev_server_username }}" ]; then
            echo "DEV_SERVER_USERNAME=${{ secrets.DEV_USERNAME }}" >> $GITHUB_ENV
          else
            echo "DEV_SERVER_USERNAME=${{ inputs.dev_server_username }}" >> $GITHUB_ENV
          fi
          if [ -z "${{ inputs.dev_server_password }}" ]; then
            echo "DEV_SERVER_PASSWORD=${{ secrets.DEV_PASSWORD }}" >> $GITHUB_ENV
          else
            echo "DEV_SERVER_PASSWORD=${{ inputs.dev_server_password }}" >> $GITHUB_ENV
          fi

      - name: Reset dev db
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ env.DEV_SERVER_IP }}
          username: ${{ env.DEV_SERVER_USERNAME }}
          password: ${{ env.DEV_SERVER_PASSWORD }}
          script_stop: true
          timeout: 1800s
          script: |
            jps | grep zhiqingyun.jar | awk '{print $1}' | xargs -r kill -9
            rm -rf /data/zhiqingyun/${{ inputs.branch_number }}